* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_block {
  width: 300px;
  height: auto;
}

.main_block_user {
  display: flex;
  align-items: center;
  margin: 35px 25px;
}

.main_block ul li a {
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.main_block_user form {
  display: flex;
  flex-direction: column;
}

.main_block_user_iconus {
  margin-right: 20px;
  font-size: 35px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-weight: bold;
  user-select: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.main_block ul {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 45px 20px;
}

.main_block ul li {
  margin-left: 10px;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.main_block ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.main_block ul:nth-child(4) li a,
.main_block ul:nth-child(3) li a,
.main_block ul:nth-child(2) li a,
.main_block ul:nth-child(5) li a,
.main_block ul:nth-child(7) li a,
.main_block ul:nth-child(8) li a,
.main_block ul:nth-child(6) li a {
  font-family: Georgia, "Times New Roman", Times, serif;
}
